$primary-color: hsl(180, 29%, 50%);
$background: hsl(180, 52%, 96%);
$filter-tabs: hsl(180, 31%, 95%);
$dark-cyan: hsl(180, 8%, 52%);
$very-dark-cyan: hsl(180, 14%, 20%);
$font-size: 15px;
$font: 'spartan';

* {
  font-family: $font;
  font-size: $font-size;
}

@mixin colorPallete {
  color: $primary-color;
  background: $very-dark-cyan;
  font-size: 15px;
}

@font-face {
  font-family: 'spartan';
  src: url('static/Spartan-Regular.ttf'), url('static/Spartan-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $background;
  margin: 0;
}

.container {
  display: flex;
}

.titleContainer {
  float: left;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 1rem;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.paragraph {
  width: 38% !important;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#bg_header {
  background-color: $primary-color;
  margin: 0;
  background-image: url('images/bg-header-desktop.svg');
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
}

.card {
  width: 65%;
  margin: 10px auto;
}

.btn-primary {
  margin: 0;
  // transform: translate(-800%, -20px);
  // position: relative;
}

.btn-secondary {
  color: $primary-color;
  background-color: $filter-tabs;
  border-radius: 3px;
  border: none;
  // position: absolute;
  margin: 0 5px;
  &:hover {
    color: #fff;
    background-color: $primary-color;
    border: none;
  }
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card-title {
  font-weight: 700;
  &:hover {
    color: $primary-color;
  }
}

.form-control-lg {
  width: 60%;
  margin: auto;
  transform: translate(0, -20px);
}

.searchButton {
  margin: 0;
  padding: 0;
  float: left;
  transform: translate(-610%, -20px);
  border: 1px lightgray solid;
  border-left: none;
  border-radius: 5px;
  background-color: #fff;
  color: $primary-color;
}

.card-body2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.newTag {
  background-color: $primary-color;
  color: #fff;
  border-radius: 12px;
  width: 70px;
  margin-right: 5px;
}

.featTag {
  background-color: black;
  color: #fff;
  border-radius: 12px;
  width: 109px;
  text-align: center;
}

.bottom-row {
  font-weight: 300;
  font-size: 12px;
  width: 36% !important;
}

.mycustom {
  position: relative;
}

.mycustom input[type=search] {
  border: none;
  width: 60%;
}

.mycustom .input-group-prepend {
  position: absolute;
  align-content: center;
  transform: translate(0, -9px);
  // left: 4px;
  // top: 3px;
  z-index:9;
}