*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "spartan";
  font-size: 15px;
}

@font-face {
  font-family: 'spartan';
  src: url("static/Spartan-Regular.ttf"), url("static/Spartan-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #effafa;
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titleContainer {
  float: left;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.paragraph {
  width: 100% !important;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-bottom: 10px;
  top: 10px;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bg_header {
  background-color: #5ba4a4;
  margin: 0;
  background-image: url("images/bg-header-desktop.svg");
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
}

.card {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 320px !important;
  margin: 10px auto;
}

.btn-secondary {
  color: #5ba4a4;
  background-color: #eef6f6;
  border-radius: 3px;
  border: none;
  margin: 0 5px;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5ba4a4;
  border: none;
}

.card-title {
  font-weight: 700;
  left: 10px;
}

.card-title:hover {
  color: #5ba4a4;
}

.form-control-lg {
  width: 65% !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}

.card-body2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newTag {
  background-color: #5ba4a4;
  color: #fff;
  border-radius: 12px;
  width: 70px;
  height: 20px;
  margin-right: 5px;
}

.featTag {
  background-color: black;
  color: #fff;
  border-radius: 12px;
  width: 109px;
  height: 20px;
  text-align: center;
}

.companyRow {
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
}

.bottom-row {
  font-weight: 300;
  font-size: 12px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.mycustom {
  position: relative;
}

.mycustom input[type=search] {
  border: none;
  width: 65%;
}

.mycustom .input-group-prepend {
  position: absolute;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transform: translate(0, -9px);
          transform: translate(0, -9px);
  left: 18%;
  top: 0px;
  z-index: 9;
}
/*# sourceMappingURL=stylesheet.css.map */