* {
  font-family: "spartan";
  font-size: 15px;
}

@font-face {
  font-family: 'spartan';
  src: url("static/Spartan-Regular.ttf"), url("static/Spartan-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #effafa;
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titleContainer {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.paragraph {
  width: 38% !important;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#bg_header {
  background-color: #5ba4a4;
  margin: 0;
  background-image: url("images/bg-header-desktop.svg");
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
}

.card {
  width: 65%;
  margin: 10px auto;
}

.btn-primary {
  margin: 0;
}

.btn-secondary {
  color: #5ba4a4;
  background-color: #eef6f6;
  border-radius: 3px;
  border: none;
  margin: 0 5px;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5ba4a4;
  border: none;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-title {
  font-weight: 700;
}

.card-title:hover {
  color: #5ba4a4;
}

.form-control-lg {
  width: 60%;
  margin: auto;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}

.searchButton {
  margin: 0;
  padding: 0;
  float: left;
  -webkit-transform: translate(-610%, -20px);
          transform: translate(-610%, -20px);
  border: 1px lightgray solid;
  border-left: none;
  border-radius: 5px;
  background-color: #fff;
  color: #5ba4a4;
}

.card-body2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newTag {
  background-color: #5ba4a4;
  color: #fff;
  border-radius: 12px;
  width: 70px;
  margin-right: 5px;
}

.featTag {
  background-color: black;
  color: #fff;
  border-radius: 12px;
  width: 109px;
  text-align: center;
}

.bottom-row {
  font-weight: 300;
  font-size: 12px;
  width: 36% !important;
}

.mycustom {
  position: relative;
}

.mycustom input[type=search] {
  border: none;
  width: 60%;
}

.mycustom .input-group-prepend {
  position: absolute;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transform: translate(0, -9px);
          transform: translate(0, -9px);
  z-index: 9;
}
/*# sourceMappingURL=stylesheet.css.map */